.not-found-image {
  height: 200px;
}
.not-found-title {
  font-family: 'Roboto';
  color: #475569;
  font-size: 25px;
}
.not-found-text {
  font-family: 'Roboto';
  color: #475569;
}
.not-found-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}